.DS_Store
exercicios/teste/*
exercicios/modulo-01/ex011/midia/guanacast-33.mp3
exercicios/modulo-01/ex011/midia/guanacast-33.mp3
exercicios/modulo-01/ex011/midia/guanacast-33.mp3
exercicios/modulo-01/ex011/midia/guanacast-33.mp3
*.mp3
